*.DS_Store*
*.swo
*.pyc
*.pyo
*.swp
freetype-*
build/*
dist/*
src/SDL/Xcode-iPhoneOS/SDL/build/
src/SDL/Xcode-iOS/SDL/build/
src/ios/build/
src/ios/iosbuild/
src/ios/ios.c
.cache/*
tmp/*
kivy/*
libtremor/*
libogg/*
app-*
/*-ios/*
/.cache/*
